<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MainPage</title>
    <link rel="stylesheet" th:href="@{css/modal.css}"/>
    <script th:src="@{js/vue.js}"></script>
    <script th:src="@{js/sockjs.js}"></script>
    <script th:src="@{js/stomp.js}"></script>
    <script th:src="@{js/util.js}"></script>
</head>
<body>
    <div id="app">
        <button id="show-modal" @click="showModal = true">Show Modal</button>
        <modal
                v-if="showModal"
                @close="showModal = false"
                header-text="Add message"
                body-text="bodyTest"
                footer-text="">
            <add-message-form slot="body" @on-submit-message="onSubmitMessage"></add-message-form>
        </modal>
        <message-container
            v-bind:message-list="messageList"
        ></message-container>
    </div>
</body>
<script type="text/x-template" id="modal-template">
    <transition name="modal">
        <div class="modal-mask">
            <div class="modal-wrapper">
                <div class="modal-container">

                    <div class="modal-header">
                        <slot name="header">
                            <h3>{{headerText}}</h3>
                        </slot>
                    </div>

                    <div class="modal-body">
                        <slot name="body">
                            {{bodyText}}
                        </slot>
                    </div>

                    <div class="modal-footer">
                        <slot name="footer">
                            {{footerText}}
                            <button class="modal-default-button" @click="$emit('close')">
                                OK
                            </button>
                        </slot>
                    </div>
                </div>
            </div>
        </div>
    </transition>
</script>
<script type="text/x-template" id="add-message-form">
    <div>
        <input type="text" v-model="text"/>
        <button @click="$emit('on-submit-message', text)">Отправить</button>
    </div>
</script>
<script type="text/x-template" id="message-item-template">
    <tr><td>{{text}}</td><td>{{creationDate}}</td><td>{{author.username}}</td></tr>
</script>
<script type="text/x-template" id="msg-cont">
    <div>
        <table border="1">
            <tr>
                <th>Сообщение</th>
                <th>Дата</th>
                <th>Автор</th>
            </tr>
            <message-item
                    v-for="item in messageList"
                    v-bind:key="item.id"
                    v-bind:text="item.text"
                    v-bind:author="item.author"
                    v-bind:creationDate="item.creationDate"
            ></message-item>
        </table>
    </div>
</script>
<script th:src="@{js/index.js}"></script>
</html>
